<ion-view view-title="אנשי קשר" dir="rtl">

      <ion-nav-buttons side="primary">
        <button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = falase"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="secondary">
          <button class="button button-icon ion-navicon" ng-click="data.showReorder = !data.showReorder; data.showDelete = false"></button>
      </ion-nav-buttons> 
       

        <div class="bar bar-subheader item-input-inset bar-light">

                  <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" ng-model="query" placeholder="Search">
                  </label>
   
          </label>
        </div>

        <ion-content class="has-subheader">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
         </ion-refresher>


          <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
          
          </ion-list>

          <div class="padding">
              <button class="button" ng-click="getContacts()">Get My Contacts</button>
              <div class="list" ng-show="phoneContacts">
                <div class="card" ng-repeat="contact in phoneContacts">
                  <div class="item item-divider">
                    {{ contact.name.formatted }}
                  </div>
                  <div class="item item-text-wrap">
                    <p><strong>Phone(s)</strong></p>
                    <div ng-repeat="number in contact.phoneNumbers">
                      <p>{{ number.value }}</p>
                    </div>
                    <p><strong>Email(s)</strong></p>
                    <div ng-repeat="email in contact.emails">
                      <p>{{ email.value }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </ion-content>
  </ion-view>
   