<ion-view view-title="אנשי קשר" dir="rtl">

      <ion-nav-buttons side="primary">
        <button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = falase"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="secondary">
          <button class="button button-icon ion-navicon" ng-click="data.showReorder = !data.showReorder; data.showDelete = false"></button>
      </ion-nav-buttons> 
       

        <div class="bar bar-subheader item-input-inset bar-light">

                  <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" ng-model="query" placeholder="Search">
                  </label>
   
          </label>
        </div>

        <ion-content class="has-subheader">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
         </ion-refresher>


          <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
          
          </ion-list>

    
              <button class="button" ng-click="getContactList()">Get My Contacts</button>
                       
                  <ion-list>
                    <ion-item ng-repeat="contact in contacts">
                        {{ contact.displayName }}
                    </ion-item>
                  </ion-list>


        </ion-content>
  </ion-view>
   