<ion-view class="" view-title="שעון" dir="rtl" >
      <div class="bar bar-subheader item-divider">
  <h2 class="title"><clock format="HH:mm:ss"></clock>
  </h2>
</div>
      <ion-content class="splash padding has-subheader">
			
			
  			<i class="icon ion-ios-people-outline"></i>
    		{{com}}	
    		<i class="icon ion-ios-person-outline"></i>
    		{{user}}
			
			<div ng-app="angular-flipclock " >
			  
			      <flip-clock></flip-clock>
			      <button ng-click="start()">START</button>
			      <button ng-click="stop()">STOP</button>
			      <button ng-click="saveTime()">שמור</button>


			  
			</div>

      </ion-content>
</ion-view>