<ion-tabs class="tabs-icon-top tabs-default">
	
	<!-- app tabs -->
	<ion-tab title="מומלצים" icon="ion-heart" href="#/tab/reco">
		<ion-nav-view name="reco-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="מועדפים" icon="ion-star" href="#/tab/favo">
		<ion-nav-view name="favo-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="אנשי מקצוע" icon="ion-ios-people" href="#/tab/list">
		<ion-nav-view name="list-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="הוסף" icon="ion-person-add" href="#/tab/add">
		<ion-nav-view name="add-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab title="בית" icon="ion-ios-home" href="#/tab/home">
		<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>

	<!-- <ion-tab title="כניסה" icon="ion-log-in" href="#/tab/login">
		<ion-nav-view name="login-tab"></ion-nav-view>
	</ion-tab> -->
	<!-- end app tabs -->

</ion-tabs>