<ion-view  hide-nav-bar="true" class="account_content">
      <ion-content class="splash padding">

		

		<div class="center">
		 
		     <img class="small-image" src="img/logo.png">

			  <h2>עבודה עברית</h2>
			  <p>עבודה עברית מגישה לכם את
			  המספר הגדול</br>  ביותר של נותני השירות</br> 
			  בכל התחומים</p>
			  
		
		<div class="has-subheader buttuns_login">
			<a href="#/log"><button class="button button-block button-positive">כניסה</button></a>
			<a href="#/registerUser"><button class="button button-block button-positive">הירשם</button></a>

			<a href="#/register"><button class="button button-block button-assertive">חברה חדשה</button>

		</div>

		</div>

      </ion-content>
</ion-view>