<ion-view  hide-nav-bar="true">
      <ion-content class="splash padding">
           

		    <!-- Tab 1 content -->
		   <!-- 	<div class="col-100 ">
		   		<button class="button button-full button-calm ion-ios-body-outline">
				  כניסה
				</button>
				<label class="item item-input">
					<input ng-model="username" type="text" placeholder="שם משתמש">
				</label>
				<label class="item item-input">
					<input ng-model="password" type="password" placeholder="סיסמא">
				</label>

				<div class="button-bar">
					<a class="button icon-left ion-chevron-left button-calm" ng-click="login(username , password)">התחבר</a>
				</div>

				{{error}} -->
		


      </ion-content>
</ion-view>