/* Empty. Add your own CSS if you like */
.star>.item-content {
	background: rgb(226, 226, 226);
}

.home_content {
	background: url(http://i.istockimg.com/file_thumbview_approve/43586122/6/stock-illustration-43586122-israel-map-blue.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
}	


.account_content {
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
}

.center {
	text-align: center;
	color: #fff;
	margin-top: 30px 
	};

.center h1 {
	color: #fff!important;
}

.logo{font-size: 120px; color: #fff}


.buttuns_login {
	margin-top: 20px; 
}

.work_logo img{
   border: 2px solid red;
}


/**************************erro messagse******************************/

/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}